# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = true


storage "file" {
  path = "/opt/vault/data"
}


# HTTP listener
listener "tcp" {
  address = "192.168.122.33:8200"
  tls_disable = 1
}

# HTTPS listener
#listener "tcp" {
#  address       = "0.0.0.0:8200"
#  tls_cert_file = "/opt/vault/tls/tls.crt"
#  tls_key_file  = "/opt/vault/tls/tls.key"
#}

api_addr = http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:8200
cluster_addr = http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:8201